@model IEnumerable<act_Application.Models.BD.ActNotificacione>
@using act_Application.Data.Data;
@{
    ViewData["Title"] = "Notificaciones";
    var NotifiRepository = new NotificacionesRepository();
    int TotalNotiAdmin = NotifiRepository.GetTotalNotificacionesAdministrador();
}
<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src=""> </script>
    <link rel="stylesheet" href="">
</header>
<body>
    <div class="content-text">
        <h1>Notificaciones</h1>
        @if(TotalNotiAdmin > 0)
        {

        }
        else
        {
            <p>Actualmente no Tienes Notificaciones.</p>
        }
    </div>
</body>