/* Estilos para item6 */
.item6 {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

/* Estilos para fila-supr */
.fila-supr {
    display: flex;
    justify-content: space-evenly;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    width: 35%;
    height: 50%;
}

/* Estilos para fs-titulo */
.fs-t1 {
    justify-items: center;
    text-align: center;
    font-size: 12px;
}

/* Estilos para fila-infr */
.fila-infr {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 15px;
}

/* Estilos para el botón btn-participante */
.btn-participante {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 120px;
    height: 45px;
    margin-right: 7.5px;
    margin-left: 7.5px;
}

    .btn-participante:hover {
        background-color: limegreen;
    }

@media screen and (max-width: 850px) {
    .item6 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .btn-participante {
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        text-align: center;
        width: 100px;
    }
}
