@model act_Application.Models.ActUser

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ActUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cbancaria" class="control-label"></label>
                <input asp-for="Cbancaria" class="form-control" />
                <span asp-validation-for="Cbancaria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreYapellido" class="control-label"></label>
                <input asp-for="NombreYapellido" class="form-control" />
                <span asp-validation-for="NombreYapellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasena" class="control-label"></label>
                <input asp-for="Contrasena" class="form-control" />
                <span asp-validation-for="Contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoUser" class="control-label"></label>
                <input asp-for="TipoUser" class="form-control" />
                <span asp-validation-for="TipoUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ncaccionario" class="control-label"></label>
                <input asp-for="Ncaccionario" class="form-control" />
                <span asp-validation-for="Ncaccionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
