@model act_Application.Models.BD.ActUser

@{
    ViewData["Title"] = "Editar Usuarios";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Administracion/estiloEditarCrear.css" />
</head>
<div class="content-text">
    <h1>Editar Usuarios</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Cedula" class="control-label">Cedula</label>
                    <input asp-for="Cedula" class="form-control" />
                    <span asp-validation-for="Cedula" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Correo" class="control-label">Correo Electronico</label>
                    <input asp-for="Correo" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NombreYapellido" class="control-label">Nombre y Apellido</label>
                    <input asp-for="NombreYapellido" class="form-control" />
                    <span asp-validation-for="NombreYapellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Celular" class="control-label">Celular</label>
                    <input asp-for="Celular" class="form-control" />
                    <span asp-validation-for="Celular" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contrasena" class="control-label">Contraseña</label>
                    <input asp-for="Contrasena" type="password" class="form-control" />
                    <span asp-validation-for="Contrasena" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TipoUser" class="control-label">Tipo de Usuario</label>
                    <input asp-for="TipoUser" class="form-control" />
                    <span asp-validation-for="TipoUser"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdSocio" class="control-label"> Cedula del Accionario</label>
                    <input asp-for="IdSocio" class="form-control" />
                    <span asp-validation-for="IdSocio"></span>
                </div>
                <div class="btn-container">
                    <input class="btn" type="submit" value="Guardar" />
                    <a class="btn-return" asp-action="Index">Regresar</a>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
