@model act_Application.Models.BD.ActRolUser

@{
    ViewData["Title"] = "Create Roles de Usuarios";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Administracion/estiloEditarCrear.css" />
</head>

<div class="content-text">
    <h1>Crear Rol para Usuarios</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateRoles">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdUser" class="control-label">Id del Usuario</label>
                    <input asp-for="IdUser" class="form-control" />
                    <span asp-validation-for="IdUser" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdRol" class="control-label">Id del Rol</label>
                    <input asp-for="IdRol" class="form-control" />
                    <span asp-validation-for="IdRol" class="text-danger"></span>
                </div>
                <div class="btn-container">
                    <input type="submit" value="Crear" class="btn" />
                    <a class="btn-return" asp-action="AdminRoles">Regresar</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
