@model act_Application.Models.BD.ActTransaccione

@{
    ViewData["Title"] = "EditTConfirmado";
}
<header>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Administracion/estiloEditarCrear.css" />
</header>
<div class="content-text">
    <h1>Editar Transacciones</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditTransacciones">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Razon" class="control-label"></label>
                    <input asp-for="Razon" class="form-control" />
                    <span asp-validation-for="Razon" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdUser" class="control-label"></label>
                    <input asp-for="IdUser" class="form-control" />
                    <span asp-validation-for="IdUser" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Valor" class="control-label"></label>
                    <input asp-for="Valor" class="form-control" />
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Estado" class="control-label"></label>
                    <input asp-for="Estado" class="form-control" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaPagoTotalPrestamo" class="control-label"></label>
                    <input asp-for="FechaPagoTotalPrestamo" class="form-control" />
                    <span asp-validation-for="FechaPagoTotalPrestamo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaEntregaDinero" class="control-label"></label>
                    <input asp-for="FechaEntregaDinero" class="form-control" />
                    <span asp-validation-for="FechaEntregaDinero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaIniCoutaPrestamo" class="control-label"></label>
                    <input asp-for="FechaIniCoutaPrestamo" class="form-control" />
                    <span asp-validation-for="FechaIniCoutaPrestamo" class="text-danger"></span>
                </div>
                <div class="btn-container">
                    <input class="btn" type="submit" value="Guardar" />
                    <a class="btn-return" asp-action="AdminTransacciones">Regresar</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
