@model act_Application.Models.BD.ActCuota

@{
    ViewData["Title"] = "Editar Cuotas";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/Administracion/estiloEditarCrear.css" />
</head>
<div class="content-text">
    <h1>Editar Cuota</h1>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditCuotas">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="IdUser" class="control-label"></label>
                    <input asp-for="IdUser" class="form-control" />
                    <span asp-validation-for="IdUser" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdPrestamo" class="control-label"></label>
                    <input asp-for="IdPrestamo" class="form-control" />
                    <span asp-validation-for="IdPrestamo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValorCuota" class="control-label"></label>
                    <input asp-for="ValorCuota" class="form-control" />
                    <span asp-validation-for="ValorCuota" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaCuota" class="control-label"></label>
                    <input asp-for="FechaCuota" class="form-control" />
                    <span asp-validation-for="FechaCuota" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Estado" class="control-label"></label>
                    <input asp-for="Estado" class="form-control" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
                <div class="btn-container">
                    <input type="submit" value="Guardar" class="btn" />
                    <a class="btn-return" asp-action="AdminCuotas">Regresar</a>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
