.body {
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.input-container {
    position: relative;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select, .input-cuenta, .input-file {
    width: 100%;
    padding: 8px 8px 8px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-monto {
    width: 100%;
    padding: 8px 8px 8px 30px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input-cuenta::-webkit-inner-spin-button,
input-cuenta::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.dollar-sign {
    position: absolute;
    top: 8px;
    left: 15px;
    z-index: 1;
}

.error-message {
    font-size: 12px;
    color: red;
    display: none;
}

.date {
    justify-content: center;
    text-align: center;
    align-content: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    justify-content: center;
}

.save-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: center;
}

.clear-button {
    background-color: #f44336;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}
