@{
    ViewData["Title"] = "Menu";
}
@{
    ViewBag.Title = "Home";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/General/Home/Menu.css" />
</head>
<div class="contenedor-principal">
    <div class="cont-h1">
        <div class="ch1-conte1">
            <!-- Contenido para ch1-conte1 -->
        </div>
        <div class="ch1-conte2">
            <!-- Contenido para ch1-conte2 -->
        </div>
    </div>
    <!--<div class="cont-h2">
        <div class="ch2-conte1">

        </div>
        <div class="ch2-conte2">

        </div>
    </div>
    <div class="cont-h3">
        <div class="ch3-conte1">

        </div>
        <div class="ch3-conte2">

        </div>
    </div>-->
</div>
<!-- 
<div class="text-center">
    <div class="alert alert-success">
        <h1>Menu</h1>
        <h2>Bienvenido, @User.Identity.Name!</h2>
        @if (User.HasClaim("Rol", "Administrador"))
        {
            <p>Tienes el rol de Administrador.</p>
        }
        else if (User.HasClaim("Rol", "Socio"))
        {
            <p>Bienvenido Usuario.</p>
        }
        else if (User.HasClaim("Rol", "Referido"))
        {
            <p>Bienvenido Usuario.</p>
        }
        else
        {
            <p>Tu rol no está definido o no tiene permisos asignados.</p>
        }
    </div>
</div>
-->

