@{
    ViewBag.Title = "Home";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/General/Home/Menu.css" />
</head>
<body>
    <div class="grid-container">
        <div class="item1"><label class="item1-title">Perfil</label></div>
        <div class="item2"><label class="item1-title">Notificaciones</label></div>
        <div class="item3"><label class="item1-title">Aportaciones, Multas</label></div>
        <div class="item4">Main</div>
        <div class="item5">Footer</div>
    </div>
</body>

<!-- 
<div class="text-center">
    <div class="alert alert-success">
        <h1>Menu</h1>
        <h2>Bienvenido, @User.Identity.Name!</h2>
        @if (User.HasClaim("Rol", "Administrador"))
        {
            <p>Tienes el rol de Administrador.</p>
        }
        else if (User.HasClaim("Rol", "Socio"))
        {
            <p>Bienvenido Usuario.</p>
        }
        else if (User.HasClaim("Rol", "Referido"))
        {
            <p>Bienvenido Usuario.</p>
        }
        else
        {
            <p>Tu rol no está definido o no tiene permisos asignados.</p>
        }
    </div>
</div>
-->

