@{
    ViewBag.Title = "Home";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/General/Home/Esqueleto/Menu_Grid_Components.css" />
    <link rel="stylesheet" href="/css/General/Home/Profile/Profile.css" />
</head>
<body>
    <div class="grid-container">
        <div class="item1">
            <div class="perfil-card">
                <div class="cont-img">
                    <img src="/img/Screenshot_38.png" alt="Imagen de perfil" />
                </div>
                <div class="cont-title">
                    <span class="profession">@User.Identity.Name</span>
                    <span class="tipousuario">@User.FindFirst("TipoUsuario")?.Value</span>
                </div>
            </div>
        </div>

        <div class="item2">
            <label class="item2-title">item2</label>
        </div>
        <div class="item3">
            <label class="item3-title">item3</label>
        </div>
        <div class="item4">
            <label class="item4-title">item4</label>
        </div>
        <div class="item5">
            <label class="item4-title">item5</label>
        </div>
        <div class="item6">
            <label class="item5-title">item6</label>
        </div>
    </div>
</body>

<!-- 
<div class="text-center">
    <div class="alert alert-success">
        <h1>Menu</h1>
        <h2>Bienvenido, @User.Identity.Name!</h2>
        @if (User.HasClaim("Rol", "Administrador"))
        {
            <p>Tienes el rol de Administrador.</p>
        }
        else if (User.HasClaim("Rol", "Socio"))
        {
            <p>Bienvenido Usuario.</p>
        }
        else if (User.HasClaim("Rol", "Referido"))
        {
            <p>Bienvenido Usuario.</p>
        }
        else
        {
            <p>Tu rol no está definido o no tiene permisos asignados.</p>
        }
    </div>
</div>
-->

