
/*Aceptar*/
.modal-aceptar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-aceptar__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal-aceptar__container {
    position: absolute;
    background-color: white;
    top: -100%;
    left: 10%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    animation: slideIn 0.5s forwards;
    max-width: 80%; /* Ajusta este valor según tus preferencias */
}

/*Rechazar*/
.modal-rechazar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-rechazar__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal-rechazar__container {
    position: absolute;
    background-color: white;
    top: -100%;
    left: 10%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    animation: slideIn 0.5s forwards;
    max-width: 80%; /* Ajusta este valor según tus preferencias */
}

@keyframes slideIn {
    0% {
        top: -100%;
    }

    100% {
        top: 15%;
    }
}

.btn-mdl-aceptar {
    background-color: #8BC34A; /* Verde sabila */
    justify-content: center;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Transición suave al hacer hover */
    margin-top: 20px; /* Separación del botón cerrar */
    margin-right: 30px; /* Separación del botón cerrar */
    width: 125px;
}

    .btn-mdl-aceptar:hover {
        background-color: #689F38; /* Verde real con efecto hover */
    }

.btn-mdl-rechazar {
    background-color: #ff6a00;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Transición suave al hacer hover */
    margin-top: 20px; /* Separación del botón cerrar */
    margin-right: 30px; /* Separación del botón cerrar */
    width: 110px;
    justify-content: center;
    text-align: center;
    align-content: center;
}

    .btn-mdl-rechazar:hover {
        background-color: #ff0000;
    }

.modal__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

    .modal__table th,
    .modal__table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        font-size: 12px; /* Tamaño de fuente ajustado a 9px */
    }

    .modal__table th {
        background-color: #f2f2f2;
    }

    /* Alineación justificada para los elementos td */
    .modal__table td {
        text-align: justify;
    }

        /* Alineación específica para el primer td (Razon) */
        .modal__table td:first-child {
            text-align: left;
        }

.select-modal {
    padding:10px;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}