body {
    margin: 0px 30px 0px 40px;
}

h3 {
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.content-notif {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Separación entre las notificaciones */
}

/* Estilos para el contenedor de cada notificación */
.notif-container {
    justify-content: center;
    margin: 10px 40px 10px 40px;
    border: 2.5px solid white;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    width: 750px;
    height: 150px;
}

/* Estilos para el texto de razon y fecha */
.notif-text {
    margin-bottom: 10px;
}

/* Estilos para el botón de visualización */
.btn-visualizar {
    justify-content: center;
    height: 50px;
    width: 150px;
    margin: 0px 0px 0px auto;
    background-color: royalblue;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

    /* Efecto Hover para el botón */
    .btn-visualizar:hover {
        background-color: blue;
        color: black;
    }

/* Estilos para el modo oscuro */
body.dark .content-text {
    color: #ffffff; /* Cambiar el color del texto en modo oscuro */
}

/* Estilos para el modo claro */
body:not(.dark) .content-text {
    color: #000000; /* Cambiar el color del texto en modo claro */
}

/*Modal Principal*/

.modal-principal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal__container {
    position: absolute;
    background-color: white;
    top: -100%;
    left: 10%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    animation: slideIn 0.5s forwards;
    max-width: 80%; /* Ajusta este valor según tus preferencias */
}

@keyframes slideIn {
    0% {
        top: -100%;
    }

    100% {
        top: 5%;
    }
}

.modal__title {
    margin-top: 0;
}

.modal__close {
    display: block;
    margin-top: 10px;
    color: #888;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Transición suave al hacer hover */
    margin-top: 20px; /* Separación del botón cerrar */
    margin-right: 30px; /* Separación del botón cerrar */
    width: 125px;
}

    .modal__close:hover {
        background-color: #ccc5c5;
    }

.modal__content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.modal__description {
    margin-top: 10px;
    text-align: left;
    white-space: pre-wrap;
    overflow: auto;
    max-height: 200px; /* Máxima altura para evitar que la ventana modal se haga muy grande */
    max-width: 1000px;
}

.btn-mdl-confir {
    background-color: #8BC34A; /* Verde sabila */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Transición suave al hacer hover */
    margin-top: 20px; /* Separación del botón cerrar */
    margin-right: 30px; /* Separación del botón cerrar */
    width: 125px;
}

    .btn-mdl-confir:hover {
        background-color: #689F38; /* Verde real con efecto hover */
    }

.bt-denegar {
    background-color: #ff6a00;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Transición suave al hacer hover */
    margin-top: 20px; /* Separación del botón cerrar */
    margin-right: 30px; /* Separación del botón cerrar */
    width: 110px;
    justify-content: center;
    text-align: center;
    align-content: center;
}

    .bt-denegar:hover {
        background-color: #ff0000;
    }

.bt-rechazar {
    background-color: #f70f0f;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Transición suave al hacer hover */
    margin-top: 20px; /* Separación del botón cerrar */
    margin-right: 30px; /* Separación del botón cerrar */
    width: 110px;
}

    .bt-rechazar:hover {
        background-color: #ff6a00;
    }

.container-modal-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; /* Separación del botón cerrar */
    align-content: center;
    align-items: center;
    text-align: center;
}

.S-container-modal-btn,
.N-container-modal-btn {
    display: none; /* Ocultar por defecto */
    justify-content:space-between;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px; /* Separación del botón cerrar */
}

/*Modal Secundario*/

.modal-secundaria {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-secundaria__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal-secundaria__container {
    position: absolute;
    background-color: white;
    top: -100%;
    left: 10%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    animation: slideIn 0.5s forwards;
    max-width: 80%; /* Ajusta este valor según tus preferencias */
}

@keyframes slideIn {
    0% {
        top: -100%;
    }

    100% {
        top: 25%;
    }
}

.input-date {
    width: 100%;
    padding: 8px 8px 8px 30px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.save-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: center;
    width: 275px;
}

.modal-secundaria__close {
    background-color: white;
    color: #888;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    transition: background-color 0.3s, color 0.3s; /* Transición suave al hacer hover */
    margin-right: 30px; /* Separación del botón cerrar */
    width: 275px;
    justify-content: center;
}

    .modal-secundaria__close:hover {
        background-color: #ccc5c5; /* Verde real con efecto hover */
    }

@media (max-width: 767px) {
    .notif-container {
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 767px) {
    .btn-visualizar {
        width: 100%;
        margin: 10px 0;
    }
}

@media (min-width: 1200px) {
    .notif-container {
        max-width: 750px;
    }
}

/*Modal Denegado*/

.modal-denagado {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-denegado__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal-denegado__container {
    position: absolute;
    background-color: white;
    top: -100%;
    left: 10%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 50%;
    text-align: center;
    animation: slideIn 0.5s forwards;
    max-width: 80%; /* Ajusta este valor según tus preferencias */
}

@keyframes slideIn {
    0% {
        top: -100%;
    }

    100% {
        top: 15%;
    }
}

.input-descripcion {
    width: 100%;
    height: 85px;
    border-radius: 8px;
    overflow-y: scroll;
    text-align: left;
    font-size: 1em;
    padding: 10px 0px 10px 0px;
    margin: 20px 0px 20px 0px;
}

    .input-descripcion:valid {
        font-size: 0.9em; /* Ajusta el tamaño de fuente según tus preferencias */
    }

.container-modal-denagado-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; /* Separación del botón cerrar */
}
