@{
    ViewData["Title"] = "Estado de Cuenta";
    Layout = "/Views/Shared/_Layout2.cshtml";
}
<h1>@ViewData["Title"]</h1>
<script>
    // Redirigir a la vista "Index" del controlador "Login" después de 5 segundos
    setTimeout(function () {
        window.location.href = '@Url.Action("Index", "Login")';
    }, 5000); // 5000 milisegundos = 5 segundos
</script>

<p>No presentas ningun tipo de estado Conocido.</p>