@{
    ViewData["Title"] = "Registrarse";
    Layout = null;
}
<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/General/Login/Registro.css" />
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    <div class="container">
        <header>Registro</header>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Informacion</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Nombre y Apellidos</label>
                            <input type="text" placeholder="Registre sus Nombres y Apellidos" required>
                        </div>

                        <div class="input-field">
                            <label>Cedula de Identidad</label>
                            <input type="number" placeholder="Registra tu Cedula" required>
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" placeholder="Registra tu email" required>
                        </div>

                        <div class="input-field">
                            <label>Contraseña</label>
                            <input type="password" placeholder="Registra tu Contraseña" required>
                        </div>

                        <div class="input-field">
                            <label>Referido</label>
                            <input type="text" placeholder="Registra tu Contraseña" required>
                        </div>

                        <div class="input-field">
                            <label>Occupation</label>
                            <input type="text" placeholder="Enter your ccupation" required>
                        </div>
                    </div>
                </div>
                <button class="sumbit">
                    <span class="btnText">Submit</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </form>
    </div>

    <script src="/js/General/Login/Registro.js"></script>
</body>
</html>
