@model act_Application.Models.Sistema.ViewModel.Registro_VM;
@{
    ViewData["Title"] = "Registrarse";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/General/Login/Registro.css" />
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    <div class="container">
        <header>Registro</header>

        <form asp-action="Registro" method="post" enctype="multipart/form-data">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Informacion</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Nombre y Apellidos</label>
                            <input asp-for="User.NombreYapellido"type="text" placeholder="Registre sus Nombres y Apellidos" required />
                        </div>

                        <div class="input-field">
                            <label>Cedula de Identidad</label>
                            <input asp-for="User.Cedula" type="number" placeholder="Registra tu Cedula" required />
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input asp-for="User.Correo" type="text" placeholder="Registra tu email" required />
                        </div>

                        <div class="input-field">
                            <label>Contraseña</label>
                            <input type="password" placeholder="Registra tu Contraseña" name="Contrasena" required />
                        </div>

                        <div class="input-field">
                            <label>Referente</label>
                            <select asp-for="User.IdSocio" required>
                                <option value="">Selecciona al Usuario del cual eres Referido</option>
                                @foreach (var item in Model.ListaDeUsuarios)
                                {
                                    <option value="@item.Id"> - @item.Usuario</option>
                                }
                            </select>
                        </div>

                        <div class="input-field">
                            <label>Foto de Perfil</label>
                            <input asp-for="User.FotoPerfil" type="file" accept=".jpg, .png" required />
                        </div>
                    </div>
                </div>
                <button class="sumbit">
                    <span class="btnText">Registrarse</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </form>
    </div>

    <script src="/js/General/Login/Registro.js"></script>
</body>
</html>
